/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes blink2 {
    0%,
    100% {
        opacity: 0.4;
    }

    /* Start and end with dark red */
    50% {
        opacity: 1;
    }

    /* Midway, change to bright red */
}

body {
    background: black;
    color: white;
    font-family: "Space Mono", monospace;

    .panels {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #waiting {
        animation: blink2 1.5s ease-in-out infinite;
    }
}
